<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Texto Puro</title>
    <link rel="stylesheet" href="../css/definicion.css">
</head>
<body>
    <header class="navbar">
        <div class="logo"></div>
        <nav class="menu">
            <div class="menu-item"><a href="../index.html">Inicio</a></div>
            <div class="menu-item"><a href="./definicion.html">Definiciones</a></div>
            <div class="menu-item"><a href="./curriculums.html">Curriculums</a></div>
        </nav>
    </header>

    <div class="container">
        <div class="section">
            <h1>Definiciones vistas en clase</h1>
            <p>Aquí se mostrarán las definiciones que hasta el momento se han visto en clase.</p>
        </div>

        <div class="section">
            <div class="subsection">
                <h1>Administración:</h1>
                <p>1: La administración es una ciencia social, cuyo interés se centra en las organizaciones humanas, así como las técnicas y procedimientos disponibles para su planificación, organización, dirección y control de sus recursos, en pro de obtener de ellos el mayor beneficio posible.</p>
            </div>
            <div class="subsection">
                <h1>Administración:</h1>
                <p>2: La administración es el proceso que busca dar un uso lo más eficiente posible a los recursos para alcanzar los objetivos de una institución. Ese proceso administrativo se lleva a cabo por medio de la planificación, la organización, ejecución y el control de los recursos.</p>
            </div>
            <div class="subsection">
                <h1>Administración:</h1>
                <p>3: La administración es un proceso que comprende múltiples acciones, como planificar tareas y proyectos, ordenar los recursos disponibles, organizar las prioridades y controlar los procesos para alcanzar los objetivos. La acción de administrar se puede aplicar tanto en una actividad personal como empresarial o gubernamental.</p>
            </div>
        </div>

        <div class="section">
            <div class="subsection">
                <h1>Administración de proyectos:</h1>
                <p>1: La administración de proyectos es una metodología enfocada en realizar proyectos efectiva y eficientemente, mediante la aplicación de conocimientos, habilidades, herramientas y técnicas. Es la forma de planear, organizar, dirigir y controlar una serie de actividades realizadas por un grupo.</p>
            </div>
            <div class="subsection">
                <h1>Administración de proyectos:</h1>
                <p>2: La administración de proyectos implica planificar, coordinar y supervisar todos los aspectos del plan para garantizar que se cumplan los objetivos y se alcancen los resultados esperados, lo que se reflejará en un aumento de la satisfacción del cliente, una mejora en la rentabilidad y una ventaja competitiva en el mercado.</p>
            </div>
        </div>
        <div class="subsection">
            <h2>Fases del proceso administrativo:</h2>
            <h3>Fase de Planificación</h3>
            <p>Es en este punto donde se establecen los objetivos y metas de la empresa. Sin embargo, aquí también se debe incluir los medios por los cuales se pretende alcanzar tales objetivos. En otras palabras, se traza una ruta de acción.</p>
            <ul>
                <li>Definir los objetivos: hacia dónde se desea llegar</li>
                <li>Determinar la situación actual de la empresa</li>
                <li>Identificar los posibles eventos que podrían ocurrir en el futuro de la empresa</li>
                <li>Analizar y elegir la forma de resolver eventuales problemas</li>
                <li>Implementar un plan y evaluar el resultado</li>
            </ul>
        </div>
        <div class="subsection">
            <h3>Fase de organización</h3>
            <p>Consiste en distribuir las tareas y responsabilidades entre los diferentes grupos de trabajo que componen la empresa. Este es el proceso de división de labores en grupos, los cuales deben estar interconectados y trabajar de forma conjunta.</p>
            <ul>
                <li>Dividir la carga de trabajo en tareas que puedan realizarse por grupos individuales</li>
                <li>Subdividir cada tarea en unidades operativas</li>
                <li>Seleccionar una autoridad administrativa para cada sector</li>
                <li>Proveer de materiales y recursos útiles a cada sector</li>
                <li>Especificar quién depende de quién dentro de la organización e iniciar la jerarquización interna de la empresa</li>
                <li>Establecer mecanismos que integren las actividades de todas las áreas y revisar la efectividad de dicha integración</li>
            </ul>
        </div>
        <div class="subsection">
            <h3>Fase de dirección</h3>
            <p>A partir de este punto, se pone en ejecución el engranaje interno de la compañía. Por esta razón, la dirección es considerada como una de las etapas dinámicas dentro del proceso administrativo.</p>
            <ul>
                <li>Ofrecer la motivación necesaria a los colaboradores</li>
                <li>Recompensar el trabajo de cada colaborador con el salario respectivo</li>
                <li>Prestar atención a las necesidades de los colaboradores, las cuales pueden cambiar de acuerdo a la naturaleza de cada área</li>
                <li>Establecer mecanismos de comunicación eficientes entre los diferentes sectores de la empresa</li>
            </ul>
        </div>

        <div class="section">
            <h1>Manipulación:</h1>
            <div class="subsection">
                <p>1: Influencia o control que una persona ejerce sobre otra de manera astuta, deshonesta o engañosa para obtener beneficios personales o lograr un objetivo específico. Esta técnica implica el uso de tácticas como la persuasión, la coerción emocional y la distorsión de la realidad para modificar el comportamiento, las percepciones o las decisiones de la otra persona sin que esta sea consciente del propósito.</p>
            </div>
            <div class="subsection">
                <p>2: Control o operación precisa de objetos, herramientas o sistemas, generalmente mediante el uso de las manos o dispositivos mecánicos. En este contexto, implica realizar acciones específicas para mover, ajustar, ensamblar, o desensamblar componentes de manera controlada y efectiva, asegurando que los objetos o sistemas funcionen correctamente según lo deseado.</p>
            </div>
        </div>

        <div class="section">
            <h1>Eficacia</h1>
            <p>Tomar decisiones correctas</p>
        </div>

        <div class="section">
            <h1>Eficiencia</h1>
            <p>Hacerlo bien y administrar las herramientas a utilizar.</p>
        </div>

        <div class="section">
            <h1>Riesgos en Proyectos</h1>
            <div class="subsection">
                <h2>Riesgos</h2>
                <p>1: El riesgo se define como la combinación de la probabilidad de que se produzca un evento y sus consecuencias negativas. Los factores que lo componen son la amenaza y la vulnerabilidad.</p>
            </div>
            <div class="subsection">
                <p>2: Exposición a una situación donde hay una posibilidad de sufrir un daño o de estar en peligro. Es la vulnerabilidad o amenaza a que ocurra un evento y sus efectos sean negativos y que alguien o algo puedan verse afectados por él.</p>
            </div>
        </div>

        <div class="section">
            <h2>Riesgos en proyectos</h2>
            <div class="subsection">
                <p>1: Se define como una condición o evento incierto que, si ocurre, tiene un efecto en al menos uno de los objetivos del proyecto, como el tiempo, el costo, el alcance o la calidad.</p>
                <p>2: Los riesgos en proyectos son eventos inciertos que pueden afectar negativamente el éxito de un proyecto. Un riesgo es un evento o condición incierta que, si se produce, tiene un efecto positivo o negativo en uno o más de los objetivos de gestión del proyecto, como el alcance, el cronograma, el costo y la calidad.</p>
            </div>
            <div class="section">
                <h2 style="text-align: center;">Modelo de riesgo (Exposición)</h2>
                <div style="text-align: center;">
                    <img src="../images/riesgos.jpg" alt="Imagen 1" class="image">
                </div>
            </div>
            <div class="section">
                <h2 style="text-align: center;">Link hacia Padlet:</h2>
                <div style="text-align: center;">
                    <a href="https://padlet.com/victor_3041190024/parcial-i-soto-cervantes-soto-graciano-casta-eda-7z1h3yd4mx31nc8p" target="_blank">¡Clic aqui!</a>
                </div>
            </div>
        </div>

    </div>

    <footer class="footer">
        <p>&copy; 2024 Mi Sitio
